$white: #FFFFFF;
$black: #000000;
$gray: #5F6168;
$overlay-color: #5F6168;
$green: #ee5f5b;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "Hack", monospace;
$code-font: "Hack", monospace;
// break point
$small: 750px;
